.services-container {
  background-image: url("/public/Images/img-8.jpeg");
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  font-size: 5rem;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.degree {
  height: 3rem;
  width: 20rem;
  cursor: pointer;
  margin-top: 3rem;
  outline: none;
  border: none;
  border-radius: 5px;
}

.services-container > p {
  color: aliceblue;
  font-size: 2rem;
}

.degree:hover {
  background-color: blueviolet;
}

@media screen and (max-width: 960px) {
  .welcome {
    font-size: 3rem;
  }
  .services-container > p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .welcome {
    font-size: 2rem;
  }
  .services-container > p {
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
  }
}
